<section class="bg-light page-section" id="summary">
  <div class="container">
    <h2 class="text-center text-uppercase text-secondary mb-0">Summary</h2>
    <hr class="star-dark mb-5">
    <p class="text-center">I am currently a second year PhD student in linguistics at UC Davis. My primary research specialty lies within phonetics and its derivatives; I have a particular proclivity toward speech perception and production, and I have several current ongoing projects that you can view below. </p>
  </div>
</section>
